[DEFAULT]
ConnectionType=initiator
ReconnectInterval=2
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
UseDataDictionary=Y
DataDictionary=../spec/FIX44.xml
ClientCertificateFile=./cfg/certs/127_0_0_1_client.crt
ClientCertificateKeyFile=./cfg/certs/127_0_0_1_client.key
SSLProtocol = +TLSv1 +TLSv1_1 +TLSv1_2
TimestampPrecision=3
PreserveMessageFieldsOrder=N
SSLEnable=Y
SSLValidateCertificates=N

# standard config elements

[SESSION]
# inherit ConnectionType, ReconnectInterval and SenderCompID from default
BeginString=FIX.4.4
SenderCompID=APIKEY_TODO
TargetCompID=TARGET_TODO
SocketConnectHost=HOST_TODO
SocketConnectPort=10102
SocketUseSSL=Y

# SocketConnectHost1=127.0.0.1
# SocketConnectPort1=8080

# SocketConnectHost2=127.0.0.1
# SocketConnectPort2=5003
HeartBtInt=30
ResetOnLogon=Y

